<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  &lt;!&ndash; Indicators &ndash;&gt;
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  &lt;!&ndash; Wrapper for slides &ndash;&gt;
  <div class="carousel-inner">
    <div class="item active">
      <img src="../../../../assets/images/samples/trophy-01.jpg" class="image-item" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="../../../../assets/images/samples/trophy-02.jpg" class="image-item" alt="Chicago">
    </div>

    <div class="item">
      <img src="../../../../assets/images/samples/trophy-03.jpg" class="image-item" alt="New York">
    </div>
  </div>

  &lt;!&ndash; Left and right controls &ndash;&gt;
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->

<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner items-container">
    <div class="item active">
      <img src="http://placehold.it/1200x600" class="img-responsive image-item" alt="First Slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x600" class="img-responsive image-item" alt="Second Slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Aliquam sit amet gravida nibh, facilisis...</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x600" class="img-responsive image-item" alt="Third Slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna vel...</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
