
  <!-- Hero Unit
  ================================================== -->
  <div class="hero-unit">
    <div class="container hero-unit__container">

    </div>
  </div>


  <!-- Header Featured News
  ================================================== -->
<!--  <div class="posts posts&#45;&#45;carousel-featured featured-carousel">

    <div class="posts__item posts__item&#45;&#45;category-1">
      <a href="#" class="posts__link-wrapper">
        <figure class="posts__thumb">
          <img src="assets/images/samples/featured-carousel-2.jpg" alt="">
        </figure>
        <div class="posts__inner">
          <div class="posts__cat">
            <span class="label posts__cat-label">The Team</span>
          </div>
          <h3 class="posts__title">Alchemists women team tryouts will start in January</h3>
          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
          <ul class="post__meta meta">
            <li class="meta__item meta__item&#45;&#45;views">2369</li>
            <li class="meta__item meta__item&#45;&#45;likes"><i class="meta-like icon-heart"></i> 530</li>
            <li class="meta__item meta__item&#45;&#45;comments">18</li>
          </ul>
        </div>
      </a>
    </div>

    <div class="posts__item posts__item&#45;&#45;category-1">
      <a href="#" class="posts__link-wrapper">
        <figure class="posts__thumb">
          <img src="assets/images/samples/featured-carousel-3.jpg" alt="">
        </figure>
        <div class="posts__inner">
          <div class="posts__cat">
            <span class="label posts__cat-label">The Team</span>
          </div>
          <h3 class="posts__title">Checkout the new ride of our best player of the season</h3>
          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
          <ul class="post__meta meta">
            <li class="meta__item meta__item&#45;&#45;views">2369</li>
            <li class="meta__item meta__item&#45;&#45;likes"><i class="meta-like icon-heart"></i> 530</li>
            <li class="meta__item meta__item&#45;&#45;comments">18</li>
          </ul>
        </div>
      </a>
    </div>

    <div class="posts__item posts__item&#45;&#45;category-1">
      <a href="#" class="posts__link-wrapper">
        <figure class="posts__thumb">
          <img src="assets/images/samples/featured-carousel-1.jpg" alt="">
        </figure>
        <div class="posts__inner">
          <div class="posts__cat">
            <span class="label posts__cat-label">The Team</span>
          </div>
          <h3 class="posts__title">All the players are taking a team trip this summer</h3>
          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
          <ul class="post__meta meta">
            <li class="meta__item meta__item&#45;&#45;views">2369</li>
            <li class="meta__item meta__item&#45;&#45;likes"><i class="meta-like icon-heart"></i> 530</li>
            <li class="meta__item meta__item&#45;&#45;comments">18</li>
          </ul>
        </div>
      </a>
    </div>

    <div class="posts__item posts__item&#45;&#45;category-1">
      <a href="#" class="posts__link-wrapper">
        <figure class="posts__thumb">
          <img src="assets/images/samples/featured-carousel-2.jpg" alt="">
        </figure>
        <div class="posts__inner">
          <div class="posts__cat">
            <span class="label posts__cat-label">The Team</span>
          </div>
          <h3 class="posts__title">Alchemists women team tryouts will start in January</h3>
          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
          <ul class="post__meta meta">
            <li class="meta__item meta__item&#45;&#45;views">2369</li>
            <li class="meta__item meta__item&#45;&#45;likes"><i class="meta-like icon-heart"></i> 530</li>
            <li class="meta__item meta__item&#45;&#45;comments">18</li>
          </ul>
        </div>
      </a>
    </div>

    <div class="posts__item posts__item&#45;&#45;category-1">
      <a href="#" class="posts__link-wrapper">
        <figure class="posts__thumb">
          <img src="assets/images/samples/featured-carousel-1.jpg" alt="">
        </figure>
        <div class="posts__inner">
          <div class="posts__cat">
            <span class="label posts__cat-label">The Team</span>
          </div>
          <h3 class="posts__title">All the players are taking a team trip this summer</h3>
          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
          <ul class="post__meta meta">
            <li class="meta__item meta__item&#45;&#45;views">2369</li>
            <li class="meta__item meta__item&#45;&#45;likes"><i class="meta-like icon-heart"></i> 530</li>
            <li class="meta__item meta__item&#45;&#45;comments">18</li>
          </ul>
        </div>
      </a>
    </div>

  </div>-->


  <!-- Content
  ================================================== -->
  <div class="site-content">
    <div class="container">
      <!-- Gallery / End -->
      <div *ngFor="let game of games">
        <game-item *ngIf="game" [game]="game"></game-item>
      </div>

      <div class="text-center">
        <!-- Team Pagination -->
        <nav class="team-pagination">
          <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>...</span></li>
            <li><a href="#">16</a></li>
          </ul>
        </nav>
        <!-- Team Pagination / End -->

      </div>
    </div>
  </div>

  <!-- Content / End -->

 
